---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { info } from "@data";

import { SITE_TITLE, SITE_DESCRIPTION } from "@config";
import BaseHead from "@components/general/BaseHead.astro";
import Hero from "@components/home/Hero.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Layout>
      <Hero name={info.name.split(" ")[0]} degree={info.degree} about={""} />

	  <div class="flex items-center justify-center">
		<img src={info.codeBackground} class="h-70 w-60 my-10"/>
	</div>

		<div class="h-100 w-full before:dark:bg-[#202020] child">
			<h2 class="py-5 dark:text-light text-3xl font-bold text-center">Projects that I've been working on</h2>
			<div class="flex items-center justify-between w-auto p-10 gap-x-10">
				<div class="">
					<img src={info.project}/>
				</div>
			</div>
		</div>
    </Layout>
  </body>
</html>

<!-- Two Cards  -->
<!-- <div class="bg-blue rounded-xl p-2 card-pro flex items-center justify-center align-middle">
					Hello world
			 	</div>

				 <div class="bg-blue rounded-xl p-2 card-pro  flex items-center justify-center align-middle">
					Hello world 2
			 	</div> -->