---
import Layout from "../layouts/Layout.astro";
import { info } from "@data";

import { SITE_TITLE, SITE_DESCRIPTION } from "@config";
import BaseHead from "@components/general/BaseHead.astro";
import Hero from "@components/home/Hero.astro";
import { Project } from "@components";



---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Layout>
      <h1 class="dark:text-light font-bold text-3xl">Projects</h1>
      <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-x-4 sm:grid-cols-1 sm:gap-y-4 mt-10">
        <div class="w-full bg-light h-72 rounded-2xl overflow-hidden per">
          <img class="block w-full " src={info.image} alt="your-image-description ">
          <div class="py-5 px-7 flex flex-col text-dark-green place-content-around">
            <p class="text-md font-bold"> Blog de Café </p>
            <div class="flex gap-x-2 mt-4">
              <a
                class="h-8 w-8 github-icon cursor-pointer "
                href={info.work.projects[0].code}
                target="_blank"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  viewBox="0 0 30 30"
                  class="dark:stroke-light stroke-dark-green hover:stroke-[#009644] dark:hover:stroke-[#878b80]"
                  fill="none"
                >
                  <>
                    <title>GitHub</title>
                    <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
                  </>
                </svg>
              </a>
              <a
                class={`h-8 w-8 github-icon cursor-pointer ${
                  !info.work.projects[0].isDeploy ? "hidden" : "block"
                }`}
                href={info.work.projects[0].liveSite}
                target="_blank"
              >
                <svg
                  class="path-link dark:stroke-light stroke-dark-green hover:fill-[#009644] dark:hover:fill-[#878b80] hover:stroke-[#009644] dark:hover:stroke-[#878b80] fill-dark-green dark:fill-light "
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  viewBox="0 0 130 256"
                >
                  <path
                    class=" "
                    d="M 86 34.303 c -2.209 0 -4 -1.791 -4 -4 V 8 H 59.697 c -2.209 0 -4 -1.791 -4 -4 s 1.791 -4 4 -4 H 86 c 2.209 0 4 1.791 4 4 v 26.303 C 90 32.512 88.209 34.303 86 34.303 z"
                    transform=" matrix(1 0 0 1 0 0) "
                    stroke-linecap="round"
                  />
                  <path
                    class=" "
                    d="M 33.395 60.604 c -1.024 0 -2.047 -0.391 -2.829 -1.172 c -1.562 -1.562 -1.562 -4.095 0 -5.656 L 83.172 1.171 c 1.561 -1.562 4.094 -1.562 5.656 0 c 1.563 1.563 1.563 4.095 0 5.657 L 36.224 59.433 C 35.442 60.214 34.418 60.604 33.395 60.604 z"
                    transform=" matrix(1 0 0 1 0 0) "
                    stroke-linecap="round"
                  />
                  <path
                    class=" "
                    d="M 75.128 90 H 14.872 C 6.671 90 0 83.328 0 75.128 V 14.872 C 0 6.671 6.671 0 14.872 0 h 18.523 c 2.209 0 4 1.791 4 4 s -1.791 4 -4 4 H 14.872 C 11.083 8 8 11.083 8 14.872 v 60.256 C 8 78.917 11.083 82 14.872 82 h 60.256 C 78.917 82 82 78.917 82 75.128 V 56.604 c 0 -2.209 1.791 -4 4 -4 s 4 1.791 4 4 v 18.523 C 90 83.328 83.328 90 75.128 90 z"
                    transform=" matrix(1 0 0 1 0 0) "
                    stroke-linecap="round"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="w-full bg-white">
          <h2>Hello</h2>
        </div>
        <div class="w-full bg-white">
          <h2>Hello</h2>
        </div>
      </div>
    </Layout>
  </body>
</html>
<!-- 
<div class="grid lg:grid-cols-3 md:grid-cols-2 gap-x-4 sm:grid-cols-1 sm:gap-y-4">
  <div class="w-full bg-white relative ">
    <img class="block w-full" src={info.image} alt="your-image-description ">
    <div class="absolute bottom-0 right-0 left-0 h-full bg-dark-green dark:bg-light opacity-0 hover:opacity-75 transition-all">
      <div class="flex h-full items-center justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          viewBox="0 0 24 24"
          class="stroke-light dark:stroke-dark-green w-6 h-6"
          fill="none"
        >
          <>
            <title>GitHub</title>
            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
          </>
        </svg> 
      </div>  
    </div>        
  </div>
  <div class="w-full bg-white">
    <h2>Hello</h2>
  </div>
  <div class="w-full bg-white">
    <h2>Hello</h2>
  </div>
</div> -->

